{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <h1>Your Cart</h1>
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>
                    {{ item.product.name }} - {{ item.quantity }}
                    <a href="{% url 'cart_remove' item.id %}">Remove</a>
                </li>
            {% endfor %}
        </ul>
        <p><a href="/orders/create/">Proceed to Checkout</a></p>
    {% else %}
        <p>Your cart is empty.</p>
        <a href="/">Continue Shopping</a>
    {% endif %}
{% endblock %}